{% extends 'record/base.html' %}


{% block content %}
<h5>order {{orders.id}}</h5>


<div class="card">
  <div class="card-header"><strong>
    {{ orders.customer.name }} 
  </strong>
</div>

    <div class="card-body">
  
    <p class="card-text">
    <strong>Customer ID: </strong>{{ orders.customer.id }}
    </p>
  
  <p class="card-text">
  <strong>Item: </strong>{{ orders.item }}</p>
  
  <p class="card-text">
  <strong>Amount: $</strong>{{ orders.amount }}
  </p>

  <p class="card-text">
  <strong>Create At: </strong>{{ orders.created_at }}
  </p>
  
  <p class="card-text">
  <strong>Order ID: </strong>{{ orders.id }}</p>
      
      
    </div>
  </div>
<br/>


{% endblock %}